@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #gradient-canvas {
    width: 100%;
    height: 100%;
    --gradient-color-1: #0736fe;
    --gradient-color-2: #211f20;
    --gradient-color-3: #211f20;
    --gradient-color-4: #211f20;
  }
  .layout {
    @apply mx-auto 1024:max-w-[1024px] 1280:max-w-[1280px] 1366:max-w-[1366px] 1440:max-w-[1440px] 1920:max-w-[1920px];
  }
}
